<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orienta&family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <header>
        <nav>
            <div class="header-logo-container">
                <div class="hamburger-menu" id="hamburgerMenu">
                    <i class="fa-solid fa-bars fa-xl"></i>
                </div>
                
                <div class="header-logo">
                    <h2 class="header-logo-text">uni-connect</h2>
                </div>
                

                <div class="header-icons-container">
                    <div class="notification-container">
                        <a href="/notification">
                            <i class="fa fa-bell"></i>
                        </a>
                    </div>

                    <div class="line"></div>
        
                    <div class="profile-picture-container">
                        <img src="<%= loggedInUser.profilePicture %>" alt="User's profile Picture">
                        <p><%= loggedInUser.lastName %> <%= loggedInUser.firstName %></p>
                    </div>
                </div>
            </div>
    
            <div class="dropdown-container" id="dropdownContainer">
                <div class="dropdown-flex-container">
                    <ul class="dropdown-list">
                        <li>
                            <a href="/feed">
                                <div class="<%= currentRoute === '/feed' ? 'dropdown-item dropdown-item-active' : 'dropdown-item' %>">
                                    <i class="fa fa-newspaper feed-icon"></i>
                                    <span>Feed</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/profile/<%= loggedInUser.id %>">
                                <div class="<%= currentRoute === `/profile/${loggedInUser.id}` ? 'dropdown-item dropdown-item-active' : 'dropdown-item' %>">
                                    <i class="fa fa-user profile-icon"></i>
                                    <span>Profile</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/notification">
                                <div class="<%= currentRoute === '/notification' ? 'dropdown-item dropdown-item-active' : 'dropdown-item' %>">
                                    <i class="fa fa-bell notification-icon"></i>
                                    <span>Notification</span>
                                </div>
                            </a>
                        </li>
                    </ul>

                    <a href="/logout" class="dropdown-logout-button">Logout</a>
                </div>
            </div>
        </nav>
    </header>

    <script src="/js/main.js"></script>